apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    - rolearn: arn:aws:iam::711387135481:role/aw-bootcamp-gh-role
      username: github-actions
      groups:
        - system:masters

