name: Cleanup Kubernetes Resources

on:
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig \
            --name dev-challenge-erick \
            --region us-east-1

      - name: Delete Kubernetes resources
        run: |
          kubectl delete -f k8s/10-day/nginx-service.yaml --ignore-not-found
          kubectl delete -f k8s/10-day/nginx-deployment.yaml --ignore-not-found

