name: CI
on: [push]

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest


    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::711387135481:role/aw-bootcamp-gh-role
          aws-region: us-east-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push image
        run: |
          set -euo pipefail
          IMAGE_TAG=${GITHUB_SHA::7}
          docker build -t aw-sample:${IMAGE_TAG} ./app
          docker tag aw-sample:${IMAGE_TAG} ${{ secrets.ECR_URI }}:${IMAGE_TAG}
          docker push ${{ secrets.ECR_URI }}:${IMAGE_TAG}
  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::711387135481:role/aw-bootcamp-gh-role
          aws-region: us-east-1

      - name: Update kubeconfig
        run: aws eks update-kubeconfig --region us-east-1 --name aw-bootcamp-cluster

      - name: Deploy manifests
        run: |
          set -euo pipefail

          kubectl apply -f k8s/manifests/

          kubectl rollout status deployment/aw-sample --timeout=300s
          kubectl get pods -o wide

  # SIMPLE WAY TESt
  # deploy:
  #   runs-on: ubuntu-latest
  #   needs: build
  #   steps:
  #     - uses: actions/checkout@v4
  #
  #     - name: Configure AWS credentials
  #       uses: aws-actions/configure-aws-credentials@v4
  #       with:
  #         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  #         aws-region: us-east-1
  #
  #     - name: Update kubeconfig
  #       run: aws eks update-kubeconfig --region us-east-1 --name aw-bootcamp-cluster
  #
  #     - name: Deploy manifests
  #       run: |
  #         kubectl apply -f k8s/manifests/ --validate=false
  #         kubectl rollout status deployment/aw-sample --timeout=120s
  #           kubectl get pods -o wide
