name: CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::711387135481:role/aw-bootcamp-gh-role
          aws-region: us-east-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push
        run: |
          docker build -t aw-sample:latest ./app
          docker tag aw-sample:latest ${{ secrets.ECR_URI }}:latest
          docker push ${{ secrets.ECR_URI }}:latest

  deploy:
      runs-on: ubuntu-latest
      needs: build
      permissions:
        id-token: write
        contents: read
      steps:
        - uses: actions/checkout@v4
        - name: Configure AWS credentials
          uses: aws-actions/configure-aws-credentials@v4
          with:
            role-to-assume: arn:aws:iam::711387135481:role/aw-bootcamp-gh-role
            aws-region: us-east-1

        - name: Update kubeconfig
          run: aws eks update-kubeconfig --region us-east-1 --name aw-bootcamp-cluster

        - name: Deploy manifests
          run: |
            kubectl apply -f k8s/manifests/
            kubectl rollout status deployment/aw-sample --timeout=120s
            kubectl get pods -o wide

